<h1>Blogs</h1>

<%= render "govuk_publishing_components/components/table", {
  head: [
    {
      text: "Title"
    },
    {
      text: "Description"
    },
    {
      text: "Action"
    }
  ],
  rows: @blogs.map do |blog|
    [
      {
        text: blog.title
      },
      {
        text: blog.description
      },
      {
        text: render("govuk_publishing_components/components/action_link", {
          text: "Edit Blog",
          href: "edit_path_url(blog)"})
      }
    ]
    end
} %>

<div>
  <%= render "govuk_publishing_components/components/action_link", {
    text: "Go to Create Blogs",
    href: "/blogs/new"
  } %>
</div>

