<h1>Blogs</h1>
<table>
  <thead>
  <th>title</th>
  <th>description</th>
  <th>actions</th>
  </thead>
  <tbody>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.description %></td>
<!--      <td><%#= link_to 'Edit Blog', edit_path_url(blog) %></td>-->
      <%= render "govuk_publishing_components/components/action_link", {
        text: "Something about the NHS",
        subtext: "Perhaps you'd like to click here",
        subtext_href: "/page",
        mobile_subtext: true,
        nhs_icon: true
      } %>
    </tr>
  <% end %>
  </tbody>
</table>