<h1>Blogs</h1>
<table>
  <thead>
  <th>title</th>
  <th>description</th>
  <th>actions</th>
  </thead>
  <tbody>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.description %></td>
      <td><%= link_to 'Edit Blog', edit_path_url(blog) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
