<%= form_with url: '/blogs/create', model: @blog do |form| %>
<!--  <div>
    <%#= form.label :title, "Title" %><br>
    <%#= form.text_field :title %>
  </div>-->
  <div>
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Title"
      },
      name: "title",
      autofocus: true,
      tabindex: 0,
      width:10
    } %>
  </div>
 <!-- <div>
    <%#= form.label :description, "Description" %><br>
    <%#= form.text_area :description %>
  </div>-->
  <div>
    <%= render "govuk_publishing_components/components/textarea", {
      label: {
        text: "Description"
      },
      name: "description",
      rows:5
    } %>
  </div>
  <br>
<!--  <%#= form.submit %>-->
  <%= render "govuk_publishing_components/components/button", {
    text: "Submit",
    type:"submit"
  } %>
<% end %>